img{
    width: 40px;
    /* aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn; */
    height: 20px;
}
.fullNav{
background-color: rgb(108, 108, 108);

}
.navLink{
color: aliceblue;
}
#profile{
    position: absolute;
    right: 20px;
    top: 15px;
    color:rgb(60, 60, 228);
    background-color: rgb(202, 202, 243);
    padding: 15px;
  border-radius: 5px;
    box-shadow: 1px 10px 15px rgb(187, 187, 187);
    transition: transform 100ms;
}
#profile:hover{
    transform: scale(1.09);
}
.header{
    position:fixed;
    z-index: 1;
    margin-top: 0;
    top: 0;
width: 100%;
}
@media only screen and (max-width: 600px) {
   .header {
      display: none;
    }
  }
#generalmodal
{
    z-index: 19;
    position: relative;
    top: 40px;
}
.fome{
  max-width:500px;
  border-radius: 30px;
  background-color: inherit;
  
}
.main{
  background-repeat:no-repeat;
  background-size:100% ;
}