<!-- sidebar -->


<input type="checkbox" id="check">
<label for="check">

    <i class="fa-solid fa-bars d-lg-none bg-dark xl-block" id="btn" aria-hidden="true"></i>
    <i class="fa fa-times" id="cencel"></i>
</label>
<div class="sidebar">
    <header>My WebApp</header>
    <ul>
        <li><a href=""> <i class="fa-solid fa-house"></i> Home</a></li>
        <li><a href=""> <i class="fa-solid fa-pencil fa-fw"></i>Applications</a></li>
        <li><a href=""> <i class="fa fa-cog fa-fw"></i> Settings</a></li>
        <li><a href=""> <i class="fa fa-qrcode"></i> Dashboard</a></li>
        <li><a href=""> <i class="fa fa-link"></i> Shortcut</a></li>
        <li><a href=""> <i class="fa fa-envelope"></i> Services</a></li>
        <li><a href=""> <i class="fa fa-question-circle"></i> About</a></li>


    </ul>
</div>