<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; My WebApp</a>


        <div class="bskt">

        </div>
        <!--            
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            navbar-toggler-icon
            <span class=""></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">about</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Cars
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarropdown">
                        <li><a class="dropdown-item" href="#">BMW</a></li>
                        <li><a class="dropdown-item" href="#">MERCEDES</a></li>
                        <li><a class="dropdown-item" href="#">AUDI</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">FORD</a></li>
                        <li><a class="dropdown-item" href="#">TOYOTA </a> </li>
                        <li><a class="dropdown-item" href="#">SUZUKI </a> </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">contect us</a>
                </li>
            </ul>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>




<!-- sidebar -->


<input type="checkbox" id="check">
<label for="check">
    <i class="fa fa-bars  	d-lg-none   bg-dark  xl-block" id="btn"></i>
    <i class="fa fa-times" id="cencel"></i>
</label>
<div class="sidebar">
    <header>My WebApp</header>
    <ul>
        <li><a href=""> <i class="fa fa-home fa-fw"></i> Home</a></li>
        <li><a href=""> <i class="fa fa-pencil fa-fw"></i>Applications</a></li>
        <li><a href=""> <i class="fa fa-cog fa-fw"></i> Settings</a></li>
        <li><a href=""> <i class="fa fa-qrcode"></i> Dashboard</a></li>
        <li><a href=""> <i class="fa fa-link"></i> Shortcut</a></li>
        <li><a href=""> <i class="fa fa-envelope"></i> Services</a></li>
        <li><a href=""> <i class="fa fa-question-circle"></i> About</a></li>


    </ul>
</div>