.Carousel{
    height: 100px;}
hr.new4 {
    border: 10px double rgb(0, 72, 255);
    position: relative;
    top: 100px;
    width: 21%;
left: 39%;   
}
.footer{
    display: block;
    height: 5rem;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}